<header class="bg-base-100">
  <nav class="md:container md:mx-auto navbar">
    <div class="flex-none">
      <a
        class="btn btn-ghost text-xl text-primary"
        href="{{baseUrl}}"
        title="{{siteTitle}}"
        >{{siteTitle}}</a
      >
    </div>
    <div class="flex-1 justify-end">
      <input
        type="text"
        placeholder="Search..."
        class="input input-sm input-bordered max-w-xs"
      />
    </div>
    <div class="dropdown dropdown-hover dropdown-bottom dropdown-end">
      <div tabindex="0" role="button" class="btn btn-sm m-1">...</div>
      <ul
        tabindex="0"
        class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
      >
        {% for category in categories %}
        <li>
          <a
            href="{{baseUrl}}{{_coreConfig.outputCategoryDir}}/{{category}}"
            title="{{category}}"
            >{{category}}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
<main></main>
<footer class="h-16 flex justify-center items-center">
  <span class="text-neutral-content text-sm">© 2023 {{siteTitle}}</span>
</footer>
