<!DOCTYPE html>
<html lang="{{defaultLang}}" class="h-full">
  <head>
    {% if title %}
    <title>{{title}} | {{siteTitle}}</title>
    {% else %}
    <title>{{siteTitle}}</title>
    {% endif %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="{{page.description | default(description)}}"
    />
    <meta name="author" content="{{page.author | default(author)}}" />
    <meta name="keywords" content="{{page.keywords | default(keywords)}}" />
    <link
      rel="shortcut icon"
      href="{{baseUrl}}favicon.ico"
      type="image/x-icon"
    />
    <link href="{{baseUrl}}assets/css/index.css" rel="stylesheet" />
    <script defer src="{{baseUrl}}assets/lib/alpinejs.min.js"></script>
  </head>
  <body
    id="top"
    class="bg-base-300 text-base-content text-base min-h-full flex flex-col justify-between"
    x-init="console.log('Alpinejs loaded')"
  >
    {% include "basicLayout.html" %}
    <script src="{{baseUrl}}assets/js/common.js"></script>
  </body>
</html>
