<div>
  {# <!-- prettier-ignore --> #}
  {% if _category %}
  <h3 class="divider divider-start divider-primary text-2xl text-neutral mb-10 mx-4">
    {{_category.name}}
    {% if _category.count > 0 %}
      ({{_category.count}})
    {% endif %}
  </div>
  {% endif %}
  {% if _series %}
  <h3 class="divider divider-start divider-primary text-2xl text-neutral mb-10 mx-4">
    {{_series.name}}
    {% if _series.count > 0 %}
      ({{_series.count}})
    {% endif %}
  </div>
  {% endif %}
  {% if _tag %}
  <h3 class="divider divider-start divider-primary text-2xl text-neutral mb-10 mx-4">
    {{_tag.name}}
    {% if _tag.count > 0 %}
      ({{_tag.count}})
    {% endif %}
  </div>
  {% endif %}
  <ul id="articleList">
    {% for item in _contentList %}
      {% if _type === 'index' %}
        {% if loop.index0 < 10 %}
          {% include 'listItem.html' %}
        {% endif %}
      {% else %}
        {% include 'listItem.html' %}
      {% endif %}
    {% endfor %}
  </ul>
</div>
