@import url('./variables.css');

/* basic layout */
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-size: var(--content-size);
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  background-color: var(--base-300);
  color: var(--base-content);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header {
  height: var(--header-height);
  background-color: var(--base-100);
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--nav-max-width) + 2 * var(--gap-md));
  line-height: var(--header-height);
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  margin: auto var(--gap-md);
}
.logo a {
  font-size: var(--title-size);
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
}
.menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 0 var(--gap-md);
  padding: 0 var(--gap-md);
}
.menu a {
  padding: 0 var(--gap-md);
  line-height: 32px;
  font-size: var(--content-size);
  border-radius: var(--radius-sm);
  text-decoration: none;
  cursor: pointer;
  color: var(--base-content);
  transition: all 0.2s ease;
}
.menu a:hover {
  background-color: var(--primary);
  color: var(--primary-content);
}
.menu a:active {
  transform: translateY(1%);
}
.menu .rest {
  position: relative;
}
.menu .restCategoriesList {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--base-100);
  box-shadow: var(--shadow-sm);
  transform: translate(100%, 100%);
  z-index: 100;
  opacity: 0;
  transition: all 0.2s ease;
}
.search {
  padding: 0 var(--gap-md);
}
.search input {
  width: 160px;
  height: 32px;
  outline: none;
  border: 1px solid var(--neutral-content);
  border-radius: var(--radius-sm);
}
.main {
  max-width: calc(var(--main-max-width) + 2 * var(--gap-md));
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin: auto;
  padding: var(--gap-md);
}
.footer {
  height: var(--footer-height);
  line-height: var(--title-size);
  padding: var(--gap-md) 0;
  font-size: var(--subtext-size);
  text-align: center;
  color: var(--neutral-content);
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
