:root {
  /* colors */
  --base-100: #ffffff;
  --base-200: #f2f7ff;
  --base-300: #e3e9f4;
  --base-content: #394e6a;
  --primary: #0069ff;
  --primary-content: #cee4ff;
  --secondary: #463aa2;
  --secondary-content: #d5d7ef;
  --accent: #c148ac;
  --accent-content: #0e020b;
  --neutral: #021431;
  --neutral-content: #c5cbd3;
  --info: #93e7fb;
  --info-content: #081315;
  --success: #81cfd1;
  --success-content: #061010;
  --warning: #efd7bb;
  --warning-content: #14110d;
  --error: #e58b8b;
  --error-content: #120707;
  --shadow: rgba(2, 20, 49, 0.3);

  /* common */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --shadow-sm: 0 1px 3px 0 var(--shadow), 0 1px 2px -1px var(--shadow);
  --shadow-md: 0 10px 15px -3px var(--shadow), 0 4px 6px -4px var(--shadow);
  --shadow-lg: 0 25px 50px -12px var(--shadow);
  --gap-sm: 16px;
  --gap-md: 20px;
  --gap-lg: 24px;
  --break-sm: 4px;
  --break-md: 8px;
  --break-lg: 12px;
  --header-height: 60px;
  --footer-height: 60px;
  --nav-max-width: 1024px;
  --main-max-width: 720px;
  --header-size: 28px;
  --title-size: 24px;
  --subtitle-size: 20px;
  --content-size: 16px;
  --desc-size: 14px;
  --subtext-size: 12px;
}

/* basic layout */
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-size: var(--content-size);
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen,
    Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;
  background-color: var(--base-300);
  color: var(--base-content);
}
.header {
  height: var(--header-height);
  background-color: var(--base-100);
}
.nav {
  display: flex;
  justify-content: space-between;
  max-width: calc(var(--nav-max-width) + 2 * var(--gap-md));
  line-height: var(--header-height);
  margin: 0 auto;
}
.logo {
  display: flex;
  align-items: center;
  margin: auto var(--gap-md);
}
.logo a {
  font-size: var(--title-size);
  font-weight: 700;
  text-decoration: none;
  color: var(--primary);
}
.main {
  max-width: calc(var(--main-max-width) + 2 * var(--gap-md));
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  margin: auto;
  padding: var(--gap-md);
}
.footer {
  height: var(--footer-height);
  line-height: var(--title-size);
  padding: var(--gap-md) 0;
  font-size: var(--subtext-size);
  text-align: center;
  color: var(--neutral-content);
}
